.title {
	font-weight: bold;
	font-size: 40px;
	line-height: 48px;
}

a.tw-tiddlylink-external::before {
	content: "\27a0\00a0";
}

a:hover {
	text-decoration: none;
	background: #88aaff;
	color: #005580;
}

a.tw-tiddlylink {
	font-style: normal;
	font-weight: normal;
}

a.tw-tiddlylink-resolves {
	font-style: normal;
	font-weight: bold;
}

a.tw-tiddlylink-missing {
	font-style: italic;
}

.splitLabel {
	font-size: 9.5px;
	margin-right: 5px;
}

.splitLabelLeft {
	text-transform: uppercase;
	font-weight: bold;
	padding: 3px 2px 3px 5px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	background-color: #ccc;
}

.splitLabelRight {
	padding: 3px 5px 3px 2px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #eee;
}

.javascript-source {
	border: 1px solid #888;
	padding: 18px 18px 18px 18px;
	-webkit-box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.javascript-source .javascript-boolean {
}

.javascript-source .javascript-identifier {
	color: #b00;
}

.javascript-source .javascript-keyword {
	color: #393;
	font-weight: bold;
}

.javascript-source .javascript-null {
	color: #833;
}

.javascript-source .javascript-numeric {
	color: #33a;
}

.javascript-source .javascript-punctuator {
	color: #444;
}

.javascript-source .javascript-string {
	color: #388;
}

.javascript-source .javascript-comment {
	padding: 4px 4px 4px 4px;
	border: 1px solid #feed77;
	background: #feed77;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#dede80),color-stop(7%,#feed77),color-stop(92%,#feed77),color-stop(100%,#dede80));
	background: -webkit-linear-gradient(72deg,rgba(255, 255, 255, 0.5) 8%,rgba(255, 255, 255, 0.1) 80%),-webkit-linear-gradient(top,#dede80 0,#feed77 7%,#feed77 92%,#dede80 100%);
	background:    -moz-linear-gradient(72deg,rgba(255, 255, 255, 0.5) 8%,rgba(255, 255, 255, 0.1) 80%),   -moz-linear-gradient(top,#dede80 0,#feed77 7%,#feed77 92%,#dede80 100%);
	background:      -o-linear-gradient(72deg,rgba(255, 255, 255, 0.5) 8%,rgba(255, 255, 255, 0.1) 80%),     -o-linear-gradient(top,#dede80 0,#feed77 7%,#feed77 92%,#dede80 100%);
	background:     -ms-linear-gradient(72deg,rgba(255, 255, 255, 0.5) 8%,rgba(255, 255, 255, 0.1) 80%),    -ms-linear-gradient(top,#dede80 0,#feed77 7%,#feed77 92%,#dede80 100%);
	background:         linear-gradient(72deg,rgba(255, 255, 255, 0.5) 8%,rgba(255, 255, 255, 0.1) 80%),        linear-gradient(top,#dede80 0,#feed77 7%,#feed77 92%,#dede80 100%);
	-webkit-box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
	   -moz-box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
			box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
}

.javascript-source .javascript-block-comment {
	font-family: Helvetica, Arial, sans-serif;
}

.javascript-source .javascript-line-comment {
	font-family: Helvetica, Arial, sans-serif;
}

.navigation-panel {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background: #ddd;
}

.navigation-panel div {
	width: 100%;
	height: 100%;
	padding-left: 8px;
	padding-right: 8px;
}
