body {
    font-family: Helvetica, Arial, sans-serif;
}

/* Following styles created with http://www.gridlover.net/; */

body {
    font-size: 15px;
    line-height: 20px;
    max-width: 944px;
    margin: auto;
}
th, td {
    background: #f6f6f6;
    padding: 3px 3px 3px 3px;
}
code, pre {
    font-size: 13px;
    line-height: 18px;
    padding: 0 3px 2px;
    font-family: 'Bitstream Vera Sans Mono','Courier','Courier New', monospace;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
code {
	background-color: #fee9cc;
	color: rgba(0, 0, 0, 0.75);
	padding: 1px 3px;
}
pre {
	background-color: #f5f5f5;
	display: block;
	padding: 8.5px;
	margin: 0 0 18px;
	line-height: 18px;
	font-size: 12px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
    -moz-tab-size: 4;
    -webkit-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}
article {
}
.title {
    font-weight: bold;
    font-size: 62px;
    line-height: 81px;
}
h1 {
    font-size: 33px;
    line-height: 54px;
    margin-top: 54px;
    margin-bottom: 27px;
}
h2 {
    font-size: 25px;
    line-height: 27px;
    margin-top: 27px;
    margin-bottom: 0px;
}
p {
    margin-top: 0px;
    margin-bottom: 27px;
}
.small, aside {
    font-size: 13px;
}

a {
    text-decoration: none;
}

a.tw-tiddlylink-external::before {
    content: "\27a0\00a0";
}

a:hover {
    background-color: #00e;
    color: #fff;
}

a.tw-tiddlylink {
    font-style: normal;
    font-weight: normal;
}

a.tw-tiddlylink-resolves {
    font-style: normal;
    font-weight: bold;
}

a.tw-tiddlylink-missing {
    font-style: italic;
}

a.tw-slider-label::after {
    content: "\00a0\27a4";
}

.tw-error {
    background-color: #B94A48;
    padding: 2px 4px 3px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 9.5px;
    margin-right: 5px;
    padding: 3px 5px 3px;
    border-radius: 3px;
    background-color: #fcf;
}

.splitLabel {
    font-size: 9.5px;
    margin-right: 5px;
}

.splitLabelLeft {
    text-transform: uppercase;
    font-weight: bold;
    padding: 3px 2px 3px 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #ccc;
}

.splitLabelRight {
    padding: 3px 5px 3px 2px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #eee;
}

.treeWikiText, .treeWikiTextRenderer {
    list-style-type: none;
}

.nodeWikiText .splitLabelLeft[data-tw-label-type='text'] {
    background-color: #62CFFC;
    color: #fff;
}

.nodeWikiText .splitLabelLeft[data-tw-label-type='macro'] {
    background-color: #46A546;
    color: #fff;
}

.nodeWikiText .splitLabelLeft[data-tw-label-type='param'] {
    background-color: #a546a5;
    color: #fff;
}

.nodeWikiText .splitLabelLeft[data-tw-label-type='html'] {
    background-color: #F89406;
    color: #fff;
}

.nodeWikiText .splitLabelLeft[data-tw-label-type='dependencies'],
.treeWikiTextRenderer .splitLabelLeft[data-tw-label-type='dependencies'] {
    background-color: #f89999;
    color: #fff;
}

.nodeWikiText .splitLabelLeft[data-tw-label-type='dependency'],
.treeWikiTextRenderer .splitLabelLeft[data-tw-label-type='dependency'] {
    background-color: #F80055;
    color: #fff;
}

.treeWikiTextRenderer .splitLabelLeft[data-tw-label-type='rendererStep'] {
    background-color: #F89406;
    color: #fff;
}

.treeWikiTextRenderer .splitLabelLeft[data-tw-label-type='macro'] {
    background-color: #46A546;
    color: #fff;
}

.treeWikiTextRenderer .splitLabelLeft[data-tw-label-type='content'] {
    background-color: #62CFFC;
    color: #fff;
}

.treeWikiTextRenderer .splitLabelLeft[data-tw-label-type='handler'],
.treeWikiTextRenderer .splitLabelLeft[data-tw-label-type='params'] {
    background-color: #a546a5;
    color: #fff;
}

.tw-slider-label {
    -webkit-box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: linear;
    background-color: #E6E6E6;
    background-image: -webkit-linear-gradient(top, white, white 25%, #E6E6E6);
    background-repeat: no-repeat;
    border-bottom-color: #BBB;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #CCC;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #CCC;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #CCC;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.046875) 0px 1px 2px 0px;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    height: 28px;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-y: visible;
    padding-bottom: 6px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 5px;
    text-align: center;
    text-indent: 0px;
    text-shadow: rgba(255, 255, 255, 0.746094) 0px 1px 1px;
    text-transform: none;
    vertical-align: baseline;
    word-spacing: 0px;
}

.tw-slider-label:hover {
    background-color: #e6e6e6;
    background-position: 0 -15px;
    color: #333;
    text-decoration: none;
}

.tw-slider-label:focus {
  outline: 1px dotted #666;
}

.javascript-source {
    border: 1px solid #444;
    padding: 18px 18px 18px 18px;
    -webkit-box-shadow: inset 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.javascript-source .javascript-boolean {
}

.javascript-source .javascript-identifier {
    color: #b00;
}

.javascript-source .javascript-keyword {
    color: #393;
    font-weight: bold;
}

.javascript-source .javascript-null {
    color: #833;
}

.javascript-source .javascript-numeric {
    color: #33a;
}

.javascript-source .javascript-punctuator {
    color: #444;
}

.javascript-source .javascript-string {
    color: #388;
}

.javascript-source .javascript-comment {
    padding: 4px 4px 4px 4px;
    border: 1px solid #feed77;
    background: #feed77;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#dede80),color-stop(7%,#feed77),color-stop(92%,#feed77),color-stop(100%,#dede80));
    background: -webkit-linear-gradient(72deg,rgba(255, 255, 255, 0.5) 8%,rgba(255, 255, 255, 0.1) 80%),-webkit-linear-gradient(top,#dede80 0,#feed77 7%,#feed77 92%,#dede80 100%);
    background:    -moz-linear-gradient(72deg,rgba(255, 255, 255, 0.5) 8%,rgba(255, 255, 255, 0.1) 80%),   -moz-linear-gradient(top,#dede80 0,#feed77 7%,#feed77 92%,#dede80 100%);
    background:      -o-linear-gradient(72deg,rgba(255, 255, 255, 0.5) 8%,rgba(255, 255, 255, 0.1) 80%),     -o-linear-gradient(top,#dede80 0,#feed77 7%,#feed77 92%,#dede80 100%);
    background:     -ms-linear-gradient(72deg,rgba(255, 255, 255, 0.5) 8%,rgba(255, 255, 255, 0.1) 80%),    -ms-linear-gradient(top,#dede80 0,#feed77 7%,#feed77 92%,#dede80 100%);
    background:         linear-gradient(72deg,rgba(255, 255, 255, 0.5) 8%,rgba(255, 255, 255, 0.1) 80%),        linear-gradient(top,#dede80 0,#feed77 7%,#feed77 92%,#dede80 100%);
    -webkit-box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
       -moz-box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
            box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
}

.javascript-source .javascript-block-comment {
    font-family: Helvetica, Arial, sans-serif;
}

.javascript-source .javascript-line-comment {
    font-family: Helvetica, Arial, sans-serif;
}



