body {
    font-family: Helvetica, Arial, sans-serif;
}

/* Following styles created with http://www.gridlover.net/; */

body {
    font-size: 15px;
    line-height: 22px;
}
code, pre {
    font-size: 13px;
    line-height: 18px;
    padding: 0 3px 2px;
    font-family: Monaco, Andale Mono, Courier New, monospace;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
code {
	background-color: #fee9cc;
	color: rgba(0, 0, 0, 0.75);
	padding: 1px 3px;
}
pre {
	background-color: #f5f5f5;
	display: block;
	padding: 8.5px;
	margin: 0 0 18px;
	line-height: 18px;
	font-size: 12px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
article {
    max-width: 644px;
    margin: auto;
}
.title {
    font-weight: bold;
    font-size: 62px;
    line-height: 81px;
}
h1 {
    font-size: 33px;
    line-height: 54px;
    margin-top: 54px;
    margin-bottom: 27px;
}
h2 {
    font-size: 25px;
    line-height: 27px;
    margin-top: 27px;
    margin-bottom: 0px;
}
p, ul {
    margin-top: 0px;
    margin-bottom: 27px;
}
.small, aside {
    font-size: 13px;
}

a {
    text-decoration: none;
}

a.linkExternal::before {
    content: "\27a0";
}

a:hover {
    background-color: #00e;
    color: #fff;
}

a.linkExternal {
    font-style: normal;
    font-weight: normal;
}

a.linkInternalResolves {
    font-style: normal;
    font-weight: bold;
}

a.linkInternalMissing {
    font-style: italic;
}
